<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>    
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
    <header>
        <h1><a href="/dashboard">Your Dashboard</a></h1>
    </header> 

    <main>
        {{{body}}}
    </main>

    <footer>
        <a href="/dashboard/new">+ New Post</a>
    </footer>
</body>

<script src="/js/logout.js"></script>

</html>